.sandwichMenu {
    font-size: x-large;
    padding: 7px 11px 7px 11px;
    border-radius: 50%;
    transition: 0.25s;
}

.sandwichMenu:hover {
    background-color: var(--hovercolor1);
}

.userFloatingMenu {
    animation: 0.25s userMenuAnimation;
    position: fixed;
    margin-top: 25px;
    margin-left: -137px;
    z-index: 2;
    background-color: var(--color3);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.96;
    font-size: large;
    cursor: auto;
}

@keyframes userMenuAnimation {
    0% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 975px) {
    .userFloatingMenu {
        margin-left: -125px;
    }
}