.FloatingMenuChat {
    text-align: left;
    background-color: var(--color1);
    width: 100%;
    border-radius: 10px;
    opacity: 0.97;
    font-size: large;
    cursor: auto;
}

.chatMenuElement {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.chatMenuElement:hover {
    background-color: var(--hovercolor1);
}

#deleteElement{
    color: var(--color6);
    padding-left: 5px;
}

@media only screen and (max-width: 460px) {
    #modalBlockedContainer h2 {
        margin-top: 10px;
        margin-bottom: 25px;
    }

    #modalBlockedContainer {
        padding: 1.5em 0;
    }
}