.FloatingMenuUser {
    text-align: left;
    background-color: var(--color1);
    width: 100%;
    border-radius: 10px;
    opacity: 0.97;
    font-size: large;
    cursor: auto;
}

.userMenuElement {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.userMenuElement:hover {
    background-color: var(--hovercolor1);
}

#logout{
    color: var(--color6);
}