.profilePhotoContainerUser {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    background-position: center center;
    position: relative;
    margin-left: -30px;
}

.profilePhotoContainerUser:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.userPhone{
    margin-top: 20px;
}

.userDate{
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

@supports(object-fit: cover) {
    .profilePhotoContainerUser img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center center;
    }
}

.upload_image {
    margin-left: -62px;
}

.upload_button {
    cursor: pointer;
}

#uploadIcon {
    font-size: x-large;
}

.modal__container form{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.modal__container form input {
    background-color: var(--color4);
    width: 400px;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

#userName,
#userMail {
    margin-bottom: 15px;
}

#alertUser{
    margin-top: 20px;
}

.modal__container div button{
    font-size: 1.3rem;
    width: 205px;
}

.userButton:hover {
    color: var(--color1);
    background-color: var(--color5);
}

.alertMessage{
    width: 370px;
}

@media only screen and (max-width: 800px) {

    .modal__container div button{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 520px) {
    .modal__container form input {
        width: 250px;
        font-size: 0.9rem;
    }

    .modal__container div button{
        font-size: 1.2rem;
        width: 150px;
    }

    .alertMessage{
        font-size: 1rem;
        width: 215px;
    }

    .modal__container div button{
        font-size: 1.1rem;
        width: 128px;
    }
}

@media only screen and (max-width: 450px) {
    .profilePhotoContainerUser {
        width: 80px;
        height: 80px;
    }

    .upload_image {
        margin-left: -54px;
    }

    .modal__container h2{
        margin-top: -10px;
        font-size: 1.35rem;
    }

    .modal__container form input {
        font-size: 0.8rem;
    }

    .alertMessage{
        font-size: 0.8rem;
    }

    .modal__container div button{
        font-size: 1rem;
        width: 127px;
    }
}

@media only screen and (max-width: 335px) {

    .modal__container h2{
        font-size: 1.2rem;
    }

    .modal__container form input {
        font-size: 0.8rem;
        width: 200px;
    }

    .alertMessage{
        width: 170px;
        font-size: 0.8rem;
    }

    .modal__container div button{
        font-size: 0.9rem;
        width: 110px;
    }
}