.circleButton {
    font-size: 1.5rem;
    width: 55px;
    height: 55px;
    background-color: var(--color1);
    border-radius: 50px;
    margin-bottom: var(--marginBottom);
    cursor: pointer;
    align-content: center;
}

.circleButton:hover {
    background-color: var(--color4);
    color: var(--color1);
}

#icon {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 460px) {
    .circleButton {
        font-size: 1.3rem;
        width: 48px;
        height: 48px;
    }

    .circleButton #icon{
        margin-left: -2px;
    }
}