.deleteIconMessage, .editIconMessage{
    background-color: var(--color1);
    margin-top: 4px;
    color: var(--color5);
    font-size: small;
    border-radius: 50%;
    cursor: pointer;
}

.editIconMessage{
    padding: 4px 6.5px 4px 6.5px;
    margin-right: 5px;
}

.editIconMessage:hover{
    color: var(--color1);
    background-color: var(--color5);
}

.deleteIconMessage{
    padding: 4px 7.5px 4px 7.3px;
    margin-left: 5px;
    margin-right: 5px;
}

.deleteIconMessage:hover{
    color: var(--color1);
    background-color: var(--color6);
}

.messageConfirmer_deleteMessage{
    font-size: large;
}