@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: var(--font1);
  text-align: center;
  color: var(--color4);
}

:root {
  --font1: 'Open Sans', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --hovercolor1: rgb(52, 52, 52);
  --color1: #222222;
  --color2: #18b122;
  --color3: #4b4b4b;
  --color4: rgb(228, 228, 228);
  --color5: rgb(211, 211, 211);
  --color6: rgb(253, 100, 100);
}

h1 {
  margin-top: 80px;
  font-size: x-large;
}

pre {
  font-family: var(--font1);
}

p,
pre {
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--color4);
  border: none;
}

.link {
  color: var(--color4);
  text-decoration: none;
}

.active {
  color: var(--color2);
}

.logo {
  width: 180px;
}

.ProfilePhoto {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 5px;
  background-color: rgb(117, 117, 117);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 5px;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}