.columnHeader1{
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--color1);
    height: 80px;
    border-bottom: 1px solid var(--hovercolor1);
    width: 400px;
    z-index: 3;
}

.inputContainer{
    margin-left: 12px;
    margin-right: 15px;
    width: 250px;
}

@media only screen and (max-width: 975px) {
    .columnHeader1{
        width: 100%;
        z-index: 4;
    }

    .inputContainer{
        width: calc(100% - 160px);
    }
}