.floatingMenuContainer {
    display: flex;
}

.floatingMenu {
    text-align: left;
    background-color: var(--color1);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.97;
    font-size: large;
    cursor: auto;
    animation: 0.25s inputChatAnimation;
}

.menuElement {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.menuElement:hover {
    background-color: var(--hovercolor1);
}

.menuIcon {
    margin-right: 10px;
}

.menuElement label {
    display: flex;
    cursor: pointer;
}

.menuElement span {
    margin-top: -3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.confirmation {
    max-width: 350px;
    border-radius: 10px;
    background-color: var(--color1);
    padding: 10px 15px 10px 15px;
    margin-top: -170px;
    margin-left: 2px;
    cursor: auto;
}

.headerConfirmation {
    display: flex;
    justify-content: center;
}

.confirmation p {
    margin-top: 2.5px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.menu__close__x {
    font-size: x-large;
    text-align: right;
    margin-left: 25px;
    cursor: pointer;
}

.menu__close__x:hover {
    color: var(--color6)
}

.imagesConfirmerContainer {
    display: grid;
    grid-template-columns: 120px 120px;
    justify-content: center;
    overflow-y: auto;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 5px;
    width: 245px;
    height: 200px;
}

.imageconfirmer {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center center;
    margin: -22px 10px 0px 10px;
    z-index: 2;
}


.videoconfirmer {
    max-width: 220px;
    max-height: 195px;
    border-radius: 8px;
    margin: 0px 10px 0px 10px;
}

.audioconfirmer {
    max-width: 222px;
    border-radius: 8px;
    margin: 20px 10px 0px 10px;
}

.modal_close_x {
    position: relative;
    font-size: medium;
    border: none;
    padding: 0;
    color: transparent;
    width: 20px;
    height: 20px;
    float: inline-end;
    margin-left: 90px;
    cursor: pointer;
    margin-right: 10px;
}

.imagesConfirmerContainer div:hover .modal_close_x {
    transform: scale(1.3);
    color: var(--color6);
}

.sendButton {
    margin: 0px;
    background-color: var(--color3);
    color: var(--color4);
    border-radius: 5px;
    font-size: medium;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.sendButton:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.sendButton div{
    display: flex;
    justify-content: center;
}

@keyframes inputChatAnimation {
    0% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 860px) {
    .floatingMenu {
        font-size: 0.9rem;
        width: 110px;
    }
}

@media only screen and (max-width: 460px) {
    .confirmation {
        margin-left: -130px;
        z-index: 3;
        width: 225px;
    }

    .menu__close__x {
        font-size: large;
        margin-top: -2px;
    }

    .confirmation p {
        margin-left: 65px;
        margin-right: 5px;
    }

    .imagesConfirmerContainer {
        grid-template-columns: 70px 70px 70px;
        padding-left: 0px;
        width: 230px;
        height: 201px;
        margin-left: -10px;
    }

    .imageconfirmer {
        width: 60px;
        height: 60px;
    }

    .modal_close_x {
        margin-left: 50px;
    }

    .sendButton {
        font-size: 0.95rem;
    }

    .videoconfirmer {
        max-width: 180px;
        max-height: 155px;
        border-radius: 8px;
        margin: 0px 10px 0px 10px;
    }
    
    .audioconfirmer {
        max-width: 187px;
        border-radius: 8px;
        margin: 20px 10px 0px 10px;
    }
}

@media only screen and (max-width: 340px) {
    .confirmation {
        width: 200px;
    }

    .menu__close__x {
        font-size: large;
    }

    .confirmation p {
        margin-left: 40px;
        margin-right: -5px;
    }

    .imagesConfirmerContainer {
        grid-template-columns: 100px 100px;
        padding-left: 0px;
        width: 205px;
        height: 201px;
        margin-left: 0px;
        margin-left: -10px;
    }

    .imageconfirmer {
        width: 60px;
        height: 60px;
    }
}