:root {
    --borderRadius: 10px;
    --marginBottom: 20px;
}

#iconGreen {
    color: var(--color2);
    padding-top: 15px;
    padding-bottom: 15px;
}

.InputMessage {
    background-color: var(--color3);
    color: white;
    height: 80px;
    width: calc(100% - 400px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: calc(100% - 80px);
    left: 400px;
    z-index: 1;
}

.input {
    padding: 15px;
    padding-left: 55px;
    padding-right: 50px;
    border: none;
    outline: none;
    width: 40%;
    font-size: large;
    background-color: var(--color1);
    color: white;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    border-radius: var(--borderRadius);
    border-bottom-right-radius: 0px;
    margin-bottom: var(--marginBottom);
}

[contentEditable="true"]:empty:before {
    content: attr(placeholder);
    color: rgb(138, 138, 138);
}

.uploadImage {
    font-size: 1.5rem;
    color: var(--color5);
    width: 55px;
    height: 54.5px;
    background-color: var(--color1);
    margin-bottom: var(--marginBottom);
    cursor: pointer;
    margin-right: -55px;
    z-index: 2;
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
}

.temporaryMessage {
    margin-left: -55px;
    font-size: 1.5rem;
    color: var(--color5);
    width: 55px;
    height: 54.5px;
    cursor: pointer;
    margin-bottom: var(--marginBottom);
}

.temporaryMessage #icon:hover,
.uploadImage #icon:hover {
    transform: scale(1.2);
    color: var(--color4);
}

.corner {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-bottom: 25px solid var(--color1);
    border-bottom-right-radius: 4px;
    margin-bottom: var(--marginBottom);
    margin-left: -6px;
}

.uploadImageMenu {
    position: fixed;
    margin-top: -230px;
}

.temporaryMessageMenu {
    position: fixed;
    width: 220px;
    margin-top: -300px;
    margin-left: -185px;
}

.circleButtonCancel,
.circleButtonStop {
    margin-left: 10px;
    font-size: 1.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin-bottom: var(--marginBottom);
    cursor: pointer;
    align-content: center;
    background-color: var(--color1);
}

.circleButtonCancel:hover {
    color: var(--color1);
    background-color: var(--color6);
}

.circleButtonStop {
    background-color: var(--color6);
    margin-left: 0px;
}

.newRecord {
    margin-bottom: 15px;
    margin-right: 15px;
}

.newRecord audio {
    width: 430px;
}

.spinnernewRecord {
    position: fixed;
    margin-bottom: 80px;
}

@media only screen and (max-width: 975px) {
    .InputMessage {
        width: 100%;
        left: 0px;
    }

    .input {
        width: 50%;
    }

    .circleButton,
    .circleButtonCancel {
        font-size: 1.3rem;
        width: 48px;
        height: 48px;
        margin-left: 5px;
    }

    .circleButton #icon{
        margin-left: -2px;
    }

    .newRecord audio {
        width: 300px;
        height: 48px;
    }
}

@media only screen and (max-width: 860px) {
    .uploadImageMenu {
        margin-top: -220px;
    }

    .temporaryMessageMenu {
        margin-left: -165px;
        margin-top: -285px;
    }
}

@media only screen and (max-width: 460px) {
    
    .input {
        font-size: 0.9rem;
        padding-left: 40px;
        padding-right: 35px;
        width: 45%;
    }

    .uploadImage {
        font-size: large;
        height: 48px;
        width: 40px;
        margin-right: -40px;
    }

    .corner {
        margin-left: -8px;
    }

    .temporaryMessage {
        font-size: 1.3rem;
        height: 48px;
        width: 40px;
        margin-left: -40px;
    }

    .newRecord audio {
        width: 220px
    }

    #audioButton{
        margin-left: -8px;
    }

    .uploadImageMenu {
        margin-top: -205px;
    }

    .temporaryMessageMenu {
        margin-left: -180px;
        margin-top: -280px;
    }
}

@media only screen and (max-width: 340px) {
    .input {
        width: 30%;
        font-size: small;
    }

    .newRecord audio {
        width: 150px
    }

    .uploadImageMenu {
        margin-top: -222px;
    }

    .temporaryMessageMenu {
        margin-left: -120px;
        margin-top: -300px;
    }
}