.chatContainerHome {
    background-color: var(--color3);
    position: fixed;
    display: grid;
    align-content: center;
    top: 0;
    left: 400px;
    height: 100%;
    width: calc(100% - 400px);
}

.headerChat {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--color1);
    border-left: 1px solid var(--hovercolor1);
    top: 0;
    left: 400px;
    width: calc(100% - 400px);
    height: 80px;
    z-index: 3;
}

.smallText2 {
    font-size: 0.85rem;
    margin-top: 4px;
    font-family: var(--font2);
    ;
}

.closeButton,
.menuButton,
.seachButton {
    font-size: x-large;
    position: fixed;
    cursor: pointer;
    border-radius: 100%;
}

.seachButton {
    margin-left: calc(100% - 580px);
    font-size: larger;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menuButton {
    margin-left: calc(100% - 505px);
    font-size: x-large;
    padding-left: 18.5px;
    padding-right: 18.5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.closeButton {
    margin-left: calc(100% - 460px);
    padding-left: 13px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color5);
}

.closeButton:hover,
.menuButton:hover {
    background-color: var(--hovercolor1);

}

.chatFloatingMenu {
    animation: 0.25s ease-out chatMenuAnimation;
    position: fixed;
    top: 85px;
    left: calc(100% - 265px);
    background-color: var(--color1);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.96;
    font-size: large;
    cursor: auto;
}

#blocked{
    color: var(--color6);
}

@keyframes chatMenuAnimation {
    0% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 975px) {

    .chatContainerHome,
    .headerChat {
        left: 0px;
        width: 100%;
        z-index: 2;
    }

    .seachButton {
        margin-left: calc(100% - 180px);
    }

    .menuButton {
        margin-left: calc(100% - 105px);
    }

    .closeButton {
        margin-left: calc(100% - 60px);
    }
}

@media only screen and (max-width: 460px) {

    .headerChat {
        height: 70px;
    }

    .headerChat .ProfilePhoto {
        width: 45px;
        height: 45px;
        margin-left: 10px;
    }

    .headerChat .texts .mediumText {
        font-size: 1rem;
    }

    .headerChat .texts .smallText2 {
        font-size: small;
    }

    .menuButton,
    .closeButton {
        font-size: large;
    }

    .seachButton{
        font-size: medium;
    }

    .seachButton {
        margin-left: calc(100% - 140px);
    }

    .menuButton {
        margin-left: calc(100% - 80px);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
    }

    .closeButton {
        margin-left: calc(100% - 50px);
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4.7px;
        padding-bottom: 4.7px;
    }

    .chatFloatingMenu {
        top: 75px;
        left: calc(100% - 240px);
        font-size: medium;
    }
}

@media only screen and (max-width: 300px) {

    .headerChat .ProfilePhoto {
        width: 40px;
        height: 40px;
    }

    .headerChat .texts .mediumText {
        font-size: small;
    }

    .headerChat .texts .smallText2 {
        font-size: small;
    }
}