.containerDate {
    display: grid;
    justify-content: center;
    padding: 15px;
}

.date {
    color: var(--color4);
    background-color: transparent;
    font-size: x-large;
    outline: none;
    border: none;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) sepia(1) saturate(100) hue-rotate(40deg);
    cursor: pointer;
}

.twoColunms {
    display: flex;
    justify-content: center;
}

.switch-button {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color6);
    width: 2rem;
    height: 1rem;
    border-radius: 2rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--color4);
    content: '';
    border-radius: 50%;
    cursor: pointer;
}

.switch-button .switch-button__checkbox:checked+.switch-button__label {
    background-color: var(--color2);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label:before {
    transform: translateX(1rem);
}

@media only screen and (max-width: 860px) {
    #autoeliminationMenu {
        width: 200px;
    }

    .date {
        font-size: 1.1rem;
    }

    .containerDate p{
        font-size: medium;
    }

}