.loadingPage {
    background-color: var(--color1);
    display: grid;
    position: fixed;
    align-content: center;
    height: 100%;
    width: 100%;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.loadingPage img {
    width: 200px;
}

@media only screen and (max-width: 460px) {
    .loadingPage img {
        width: 150px;
    }
}