.newConversation {
    position: absolute;
    background-color: var(--color2);
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 320px;
    top: calc(100% - 80px);
    z-index: 5;
}

.newConversation #icon {
    color: var(--color1);
    font-size: x-large;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(3, 3, 3, 0.8);
    display: flex;
    pointer-events: unset;
    z-index: 5;
}

.modal__container {
    margin: auto;
    background-color: var(--color3);
    width: 100%;
    max-width: 600px;
    max-height: 90%;
    text-align: center;
    padding: 2.5em 1.5em;
    border-radius: 0.5rem;
    position: relative;
}

.modal__close__x {
    background-color: transparent;
    color: var(--color4);
    font-size: x-large;
    width: 40px;
    position: absolute;
    right: 0.5em;
    top: 0.7em;
    cursor: pointer;
}

.modal__close__x:hover {
    color: var(--color6);
}

.modal__container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberContainer {
    margin: 50px 0px 20px 0px;
}

.numberContainer img {
    height: 15px;
}

.numberContainer p {
    margin-right: 8px;
    margin-left: 5px;
}

.numberContainer input {
    background-color: var(--color4);
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.modal__container div button {
    font-size: large;
    padding: 10px 0px 10px 0px;
    width: 140px;
    background-color: var(--color1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.3rem;
    margin-top: 30px;
}

.modal__container #spinner {
    margin: 0px 0px 0px 20px;
}

.alertMessage {
    padding: 10px 30px 10px 30px;
    border-radius: 0.3rem;
    background-color: var(--color1);
    color: var(--color4);
}

.alertMessage #iconAlert {
    margin-right: 10px;
}

.modal__container div .save:hover {
    background-color: var(--color4);
    color: var(--color1);
}

.modal__container div .cancel:hover {
    background-color: var(--color6);
    color: var(--color1);
}

@media only screen and (max-width: 975px) {
    .newConversation {
        position: absolute;
        left: calc(100% - 400px);
        ;
        top: calc(100% - 80px);
    }

    #inputSearchChats {
        width: 100%
    }
}

@media only screen and (max-width: 690px) {
    .modal__container {
        background-color: var(--color3);
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .modal__container {
        padding: 2.5em 0px;
    }

    .modal__container h2 {
        font-size: 1.2rem;
    }

    .numberContainer p,
    .numberContainer input,
    .alertMessage {
        font-size: 0.9rem;
    }

    .modal__container div button {
        font-size: medium;
        width: 130px;
    }
}

@media only screen and (max-width: 350px) {
    .modal__container div button {
        width: 110px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #newChatnumber{
        width: 120px;
    }
}