#modalStatisticsContainer {
    text-align: left;
    padding: 10px 40px 30px 40px;
    width: 400px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:hover{
    background-color: var(--color1);
}

tr, td{
    padding: 8px;
}

#right{
    text-align: right;
}

@media only screen and (max-width: 690px) {
    #modalStatisticsContainer {
        width: 100%;
        margin-left: 45px;
        margin-right: 45px;
    }
}

@media only screen and (max-width: 460px) {
    #modalStatisticsContainer {
        padding: 10px 20px 30px 20px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 1.1rem;
    }

    #modalStatisticsContainer div h2 {
        font-size: 1.4rem;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 350px) {
    #modalStatisticsContainer {
        font-size: medium;
    }
}

@media only screen and (max-width: 320px) {
    #modalStatisticsContainer {
        padding: 10px 10px 30px 10px;
        font-size: 0.9rem;
    }

    #modalStatisticsContainer div h2 {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}