#audioControler1::-webkit-media-controls-panel,
#audioControler2::-webkit-media-controls-panel {
    padding-left: 25px;
    padding-right: 25px;
}

#audioControler1::-webkit-media-controls-panel {
    background-color: var(--color2);
}

#audioControler2::-webkit-media-controls-panel {
    background-color: #dddddd;
    filter: invert(100%);
}

#audioControler2::-webkit-media-controls-play-button:hover,
#audioControler2::-webkit-media-controls-mute-button:hover {
    background-color: rgb(197, 197, 197);
    border-radius: 50%;
}