.chatContainer,
.chatContainer.spinner {
    background-color: var(--color3);
    position: fixed;
    top: 80px;
    left: 400px;
    height: calc(100% - 80px - 90px);
    width: calc(100% - 400px);
    z-index: 1;
    display: grid;
    align-content: end;
    padding-bottom: 10px;
}

.noMessages {
    position: fixed;
    width: 500px;
    height: 200px;
    top: calc(50% - 80px);
    left: calc(50% - 40px);
}

.chatContainer div {
    overflow-x: hidden;
    overflow-y: auto;
}

.chatContainer.s {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageContainerUser1,
.messageContainerUser2 {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
}

.messageContainerUser1 {
    justify-content: end;
}

.messageContainerUser2 {
    justify-content: start;
}

.messageContainerUser1 p,
.messageContainerUser2 p,
.messageContainerUser1 pre,
.messageContainerUser2 pre,
.audioContainerUser1,
.audioContainerUser2 {
    border-radius: 10px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

.audioContainerUser1,
.audioContainerUser2 {
    padding: 0px 7px 0px 7px;
}

.messageContainerUser1 pre,
.messageContainerUser2 pre {
    max-width: 350px;
}

.messageContainerUser1 p,
.audioContainerUser1,
.messageContainerUser1 pre {
    border-top-right-radius: 0px;
    color: var(--color1);
    background-color: var(--color2);
    justify-content: end;
}

.messageContainerUser2 p,
.audioContainerUser2,
.messageContainerUser2 pre {
    border-top-left-radius: 0px;
    background-color: var(--color1);
    margin-left: -7px;
    font-weight: lighter;
}

#imageP {
    padding: 7px;
    padding: 9px 9px 9px 9px;
}

.imageMessage {
    max-width: 400px;
    max-height: 400px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center center;
    margin: -5px -5px -9px -5px;
}

.messageContainerUser1 pre #hour,
.messageContainerUser2 pre #hour {
    font-size: 0.7rem;
    position: relative;
    float: right;
    top: 5px;
    margin-bottom: 6px;
    margin-left: 10px;
    font-weight: bold;
}

.messageContainerUser1 p #hourImage,
.messageContainerUser2 p #hourImage {
    font-size: 0.7rem;
    position: relative;
    float: right;
    top: calc(100% - 20px);
    margin-left: -50px;
    margin-top: 8px;
}

#hourAudio {
    font-size: 0.7rem;
    position: relative;
    float: right;
    margin-top: -20px;
    margin-right: 7px;
}

.messageContainerUser1 pre #hour,
#hourImage,
#hourAudio,
.messageContainerUser1 p #hourAudio {
    color: rgb(71, 71, 71);
}

.messageContainerUser2 pre #hour,
.audioContainerUser2 #hourAudio {
    color: rgb(112, 112, 112);
}

.messageOption {
    display: flex;
    align-items: center;
}

.cornerMessageUser1 {
    justify-content: end;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-top: 20px solid var(--color2);
    border-top-right-radius: 3px;
    margin-top: 5px;
    margin-left: -4px;
}

.cornerMessageUser2 {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-top: 25px solid var(--color1);
    border-top-left-radius: 3px;
    margin-top: 5px;
}

.messageOption {
    opacity: 0;
}

.messageContainerUser1:hover>.messageOption,
.messageContainerUser2:hover>.messageOption {
    opacity: 1;
}

.containerAudio {
    width: 320px;
    height: 60px;
}

#audioControler1,
#audioControler2 {
    width: 370px;
    margin: 0px -20px -3px -25px;
}

#imageA #hourImage {
    color: rgb(112, 112, 112);
}

.inputBlocked {
    background-color: var(--color1);
    color: white;
    height: 80px;
    width: calc(100% - 400px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: calc(100% - 80px);
    left: 400px;
    z-index: 1;
}

@media only screen and (max-width: 975px) {

    .messageContainerUser1,
    .messageContainerUser2 {
        margin-right: 5%;
        margin-left: 5%;
    }

    .chatContainer,
    .chatContainer.spinner {
        top: 80px;
        left: 0px;
        height: calc(100% - 80px - 90px);
        width: 100%;
    }

    .noMessages {
        left: calc(50% - 250px);
    }

    .messageContainerUser1 p,
    .messageContainerUser2 p,
    .messageContainerUser1 pre,
    .messageContainerUser2 pre,
    .audioContainerUser1,
    .audioContainerUser2 {
        max-width: 290px;
    }

    .imageMessage {
        max-width: 300px;
        max-height: 300px;
    }

    .containerAudio {
        width: 280px;
    }

    #audioControler1,
    #audioControler2 {
        width: 330px;
    }
    
    .inputBlocked {
        width: 100%;
        left: 0px;
    }
}

@media only screen and (max-width: 460px) {

    .chatContainer,
    .chatContainer.spinner {
        top: 70px;
        height: calc(100% - 70px - 90px);
    }

    .noMessages {
        top: calc(50% -80px);
    }


    .messageContainerUser1,
    .messageContainerUser2 {
        margin-right: 5px;
        margin-left: 5px;
    }

    .messageContainerUser1 p,
    .messageContainerUser2 p,
    .messageContainerUser1 pre,
    .messageContainerUser2 pre,
    .audioContainerUser1,
    .audioContainerUser2 {
        max-width: 220px;
        font-size: 0.85rem;
    }

    .imageMessage {
        max-width: 220px;
        max-height: 220px;
    }

    .containerAudio {
        height: 50px;
    }

    #audioControler1,
    #audioControler2 {
        width: 270px;
        margin: -4px -20px -10px -25px;
    }

    #hourAudio {
        margin-top: -17px;
        margin-right: 7px;
    }

    .cornerMessageUser1 {
        border-right: 10px solid transparent;
    }
    
    .cornerMessageUser2 {
        border-left: 13px solid transparent;
    }

    .messageContainerUser1 pre #hour,
    .messageContainerUser2 pre #hour,
    .messageContainerUser1 p #hourImage,
    .messageContainerUser2 p #hourImage,
    #hourAudio,
    .containerAudio #hour {
        font-size: 0.65rem;
    }

    #modalDeleteContainer h2 {
        margin-top: 0px;
    }

    #modalDeleteContainer {
        padding: 1.5em 0;
    }

    .messageConfirmer_deleteMessage {
        font-size: medium;
    }

    .modalDeleteButtons {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 340px) {

    .messageContainerUser1 p,
    .messageContainerUser2 p,
    .messageContainerUser1 pre,
    .messageContainerUser2 pre {
        max-width: 150px;
    }

    .imageMessage {
        max-width: 150px;
        max-height: 150px;
    }

    .audioContainerUser1,
    .audioContainerUser2 {
        max-width: 200px;
    }

    #audioControler1,
    #audioControler2 {
        width: 255px;
        margin: -4px -20px -10px -25px;
    }

    .messageConfirmer_deleteMessage {
        font-size: small;
    }
}