#searchform label #icon {
    color: var(--color5);
    position: fixed;
    margin-top: -30px;
    margin-left: 12px;
}

.inputContainerChat {
    width: 100%;
}

.searchform label {
    display: flex;
    cursor: pointer;
}

label {
    padding-left: 1px;
    display: inline-block;
    margin-top: 0.3em;
    position: relative;
    left: 0.1em;
}

#searchInput {
    transition: all 0.25s ease-in-out;
    width: 1px;
    opacity: 0;
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 30px;
    font-size: medium;
    padding-left: 25px;
    padding-right: 45px;
    background-color: var(--hovercolor1);
}

#searchInput:hover {
    width: 200px;
    margin-left: -225px;
    opacity: 1;
}

#searchInput:focus-within {
    color: var(--color5);
}

.span {
    display: none;
    background-color: var(--color1);
    width: 600px;
    height: 50px;
    left: -600px;
    top: 0;
    position: absolute;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    #searchInput:hover {
        width: 130px;
        margin-left: -150px;
    }
}

@media only screen and (max-width: 520px) {
    #searchInput:hover {
        width: 100px;
        margin-left: -108px;
        opacity: 1;
        padding-left: 15px;
        padding-right: 35px;
        font-size: small;
    }
}

@media only screen and (max-width: 400px) {
    #searchInput:hover {
        width: 145px;
        margin-left: -150px;
        opacity: 1;
        padding-left: 15px;
        padding-right: 35px;
        font-size: small;
    }

    #searchform #searchInput:hover ~ .span {
        display: block;
    }
}