
.menuChats {
    background-color: var(--color1);
    position: fixed;
    color: white;
    height: calc(100% - 81px);
    width: 400px;
    top: 81px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

.menuChat {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: x-large;
    border-radius: 10px;
    margin: 5px;
    text-align: justify;
    padding-left: 20px;
}

.menuChat:hover {
    background-color: var(--hovercolor1);
}

.texts {
    margin-left: 10px;
    width: 230px;
}

.mediumText {
    font-size: large;
    font-weight: bolder;
}

.smallText {
    font-size: medium;
}

.smallText, .mediumText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dateChats {
    display: grid;
    justify-content: right;
    font-size: small;
    text-align: right;
    margin-left: 10px;
    width: 50px;
    font-family: var(--font2);
}

.dateChats p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.newMessagesNumber{
    display: flex;
    justify-content: center;
    color: var(--color1);
    background-color: var(--color2);
    border-radius: 100%;
    width: 18px;
    height: 18px;
    font-weight: bold;
}

.photoContainer {
    width: 55px;
    height: 55px;
}

@media only screen and (max-width: 975px) {
    .menuChats {
        height: calc(100% - 81px);
        width: 100%;
        z-index: 3;
    }

    .texts {
        margin-left: 10px;
        width: calc(100% - 130px);
    }
}