.searchChat {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 50px;
    background-color: var(--hovercolor1);
}

.searchChat:focus-within{
    background-color: var(--color4);
}

.searchChat input{
    background-color: transparent;
    margin-left: 10px;
    font-size: medium;
    border: none;
    outline: none;
}

.searchChat #icon{
    padding: 0px;
    color: var(--color4);
    font-size: large;
}

.searchChat:focus-within #icon{
    color: var(--color1);
}