.profilePhotoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
    align-self: center;
}

@supports(object-fit: cover) {
    .profilePhotoContainer img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}