.loginPage {
    background-color: var(--color3);
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
}

#registerContainer {
    height: 470px;
}

.loginContainer {
    background-color: var(--color1);
    width: 450px;
    height: 350px;
    border-radius: 15px;
    padding: 50px 80px 50px 80px;
}

#registerName,
#registerMail {
    margin-bottom: 20px;
}

.loginContainer h2 {
    margin-top: 0px;
}

.loginContainer img {
    width: 100px;
}

.loginContainer form {
    margin-top: 30px;
    display: grid;
}

.numberContainerLogin {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.numberContainerLogin input {
    margin-left: 15px;
    width: 100%;
}

#CR {
    width: 30px;
    margin-right: 10px;
}

#CR img {
    width: 100%;
}

.loginContainer form input {
    background-color: var(--color4);
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.registerButton,
.loginButton {
    font-size: 1rem;
    padding: 15px;
    background-color: var(--color3);
    border-radius: 5px;
    width: 215px;
}

.registerButton:hover,
.loginButton:hover {
    color: var(--color1);
    background-color: var(--color5);
}

.registerButton {
    margin-right: 20px;
}

#logginAlertMessage {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#spinnerLoggin {
    position: fixed;
    margin-top: 20px;
    margin-left: 185px;
}

.profilePhotoContainerRegister {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    margin-left: 180px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.profilePhotoContainerRegister:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

@supports(object-fit: cover) {
    .profilePhotoContainerRegister img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center center;
    }
}

.upload_image_register {
    position: relative;
    margin-left: 5px;
    margin-top: -65px;
    margin-bottom: 50px;
}

.upload_button {
    cursor: pointer;
}

#uploadIcon {
    font-size: x-large;
}

@media only screen and (max-width: 660px) {

    .loginContainer {
        padding: 50px 40px 50px 40px;
        height: 410px;
    }

    #registerContainer {
        height: 530px;
    }

    .registerButton,
    .loginButton {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 580px) {
    .loginContainer h2 {
        font-size: 1rem;
    }

    .profilePhotoContainerRegister{
        left: 70px;
    }

    .loginContainer {
        width: 390px;
        margin: 0px 20px 0px 20px;
        padding: 50px 20px 50px 20px;
        height: 360px;
    }

    #registerContainer {
        height: 480px;
    }

    .registerButton,
    .loginButton {
        font-size: 0.9rem;
        padding: 10px;
        background-color: var(--color3);
        border-radius: 5px;
    }

    .loginContainer form input {
        font-size: 0.8rem;
    }

    .loginContainer p {
        font-size: 0.8rem;
    }

    #spinnerLoggin {
        margin-top: 20px;
        margin-left: 157px;
    }

    .profilePhotoContainerRegister {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 450px) {
    .loginContainer {
        width: 320px;
    }
    
    .profilePhotoContainerRegister{
        left: 35px;
    }

    #spinnerLoggin {
        margin-left: 122px;
    }
}

@media only screen and (max-width: 370px) {
    .loginContainer {
        width: 300px;
    }
    
    .profilePhotoContainerRegister{
        left: 25px;
    }

    #spinnerLoggin {
        margin-left: 110px;
    }
}

@media only screen and (max-width: 350px) {
    .loginContainer {
        width: 210px;
        margin: 0px 20px 0px 20px;
        padding: 50px 20px 50px 20px;
    }

    #spinnerLoggin {
        margin-top: 20px;
        margin-left: 65px;
    }

    .profilePhotoContainerRegister {
        margin-left: 60px;
        left: 0px;
    }
}